.brand-wrapper{
  position: relative;
  button{
    background: #000000a6;
    border: none;
    outline: none;
    color: white;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover{
      background: #000000c0;
    }
    span{
      font-size: 20px;
    }
  }

  #start{
    z-index: 2;
    top: 20%;
    position: absolute;
    left: 0;
  }
  #end{
    z-index: 2;
    top:20%;
    position: absolute;
    right: 0;
    
  }

  .scrollmenu {
    overflow: auto;
    white-space: nowrap;
    margin: 0.5rem 0;
      &::-webkit-scrollbar {
          display: none;
      }
      .item{
          display: inline-block;
          color: white;
          text-align: center;
          text-decoration: none;
          width: 110px;
          margin-right: 5px;
          background-color: #333;
          height: 50px;
          overflow: hidden;
          img{
            width: 100%;
            height: 100%;
            transition: all 0.5s;
              &:hover{
                  transform: scale(1.2);
              }
          }
      }
  
  
  }
}





