.nav-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff4747;
    min-height: 80px;
    padding: 0 1rem;
    
    .nav-content{
        max-width: 1366px;
        width: 100%;
        height: inherit;
        display: grid;
        grid-template-columns: 20% 60% 20%;
        color: white;
        align-items: center;
        gap: 1rem;

        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
            .logo-farm{
                width: 115px;
                cursor: pointer;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .search{
            .search-content{
                height: 40px;
                border: 1px solid gainsboro;
                background: white;
                border-radius: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 3px;
                input{
                    width: 100%;
                    height: inherit;
                    padding: 0 10px;
                    border: none;
                    outline: none;
                }

                button{
                    height: 35px;
                    width: 40px;
                    outline: none;
                    background: #ff4747;
                    border: none;
                    border-radius: 4px;
                    padding: 2px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .iocns{
            display: flex;
            gap: 2rem;
            justify-content: end;
            padding-right: 2.3rem;
            font-size: small;
            .icon-item{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: white;
                cursor: pointer;
                position: relative;
                


                .lg-img{
                    width: 20px;
                    img{
                        width: 100%;
                    }
                }

                .sub-item{
                    position: absolute;
                    width: 110px;
                    background: white;
                    padding: 1rem;
                    top: 3rem;
                    right: -5px;
                    border-radius: 6px;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    .arrow{
                        font-size: 30px;
                        position: absolute;
                        top: -1rem;
                        right: 0;
                        color: white;
                    }

                    .sub-sub{
                        color: black;
                        display: flex;
                       
                        &:last-child{
                            margin-top: 1rem;
                        }
                 
                        img{
                            margin-right: 10px;
                        }
                    }
                }

                &:hover{
                    .cart-sub{
                        display: block;
                    } 
                }

                .cart-sub{
                    position: absolute;
                    width: 180px;
                    background: white;
                    color: black;
                    padding:  1rem;
                    top: 3rem;
                    border-radius: 4px;
                    display: none;
                    .arrow{
                        font-size: 30px;
                        position: absolute;
                        top: -1rem;
                        right: 40%;
                        color: white;
                    }
                }
            }
        }
    }
}